Repository p-huisman/sw-poc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

npm repository (no pggm proget)
  package-lock.json
Due: none

try refresh token using authorize without prompt inside iframe
  src/components/p-auth-code-flow.ts
  src/helpers/code-flow-iframe-wrapper.ts
  src/service-worker/code-flow/authorization-callback-handler.ts
  src/service-worker/code-flow/fetch-interceptor.ts
  src/service-worker/service-worker.ts
Due: prettier --write, eslint --fix

added userino
  src/components/p-auth-base.ts
  src/components/p-auth-code-flow.ts
  src/components/p-oauth.ts
  src/service-worker/code-flow/userinfo-handler.ts
  src/service-worker/fetch.ts
  src/service-worker/service-worker.ts
Due: prettier --write, eslint --fix

user info more silent refresh added
  demo/index.html
  src/service-worker/code-flow/fetch-interceptor.ts
Due: prettier --write, eslint --fix

refactoring
  src/components/p-auth-code-flow.ts
  src/service-worker/code-flow/fetch-interceptor.ts
  src/service-worker/code-flow/logoff-handler.ts
  src/service-worker/code-flow/userinfo-handler.ts
Due: prettier --write, eslint --fix

refactoring
  src/service-worker/code-flow/fetch-interceptor.ts
Due: prettier --write, eslint --fix

inital
  src/helpers/crypto.ts
  src/service-worker/code-flow/fetch-interceptor.ts
  src/service-worker/code-flow/o-auth-token-client.ts
  src/service-worker/code-flow/userinfo-handler.ts
  src/service-worker/openid-configurations.ts
  src/service-worker/session-manager.ts
Due: prettier --write, eslint --fix

chore: update devDependencies to latest versions
  demo/callback-code-flow.html
  package-lock.json
  package.json
Due: prettier --write

feat: enhance service worker with input validation, error handling, and caching improvements
  src/service-worker/fetch.ts
  src/service-worker/openid-configurations.ts
  src/service-worker/service-worker.ts
  src/service-worker/session-manager.ts
Due: prettier --write, eslint --fix

feat: enhance fetch queue management with timeout handling and service worker message handling
  demo/index.html
  src/components/fetch-queue.ts
  src/components/p-oauth.ts
Due: prettier --write, eslint --fix

feat: implement service worker active timeout and improve initial auth client handling
  src/components/p-oauth.ts
Due: prettier --write, eslint --fix

paths renewed
  demo/callback-code-flow.html
  demo/index.html
Due: prettier --write

added readme
  README.md
Due: prettier --write

updated port
  scripts/server.js
Due: none

refactor: Remove unnecessary logging in fetch event handler
  src/sw/sw.ts
Due: prettier --write, eslint --fix

Refactor fetch event handling and improve error response management
  package-lock.json
  src/sw/fetch.ts
  src/sw/sw.ts
Due: prettier --write, eslint --fix

initial test added
  p-build.json
  src/components/p-auth.ts
  src/components/p-code-flow.ts
  src/p-auth.spec.ts
Due: prettier --write, eslint --fix

update packages
  package-lock.json
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,html,css}
  eslint --fix: any of: *.{ts,tsx}
